.app {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mood-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.mood-tile {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  transition: opacity 0.3s ease;
}

.mood-tile:hover {
  opacity: 0.8;
}

.happy {
  background-image: linear-gradient(to bottom right, #f7971e, #ffd200);
}

.sad {
  background-image: linear-gradient(to bottom right, #4169e1, #6495ed);
}

.angry {
  background-image: linear-gradient(to bottom right, #ff0000, #dc143c);
}

.fearful {
  background-image: linear-gradient(to bottom right, #808080, #a9a9a9);
}

.grateful {
  background-image: linear-gradient(to bottom right, #008000, #3cb371);
}

.excited {
  background-image: linear-gradient(to bottom right, #ff69b4, #ff1493);
}

.tired {
  background-image: linear-gradient(to bottom right, #8b4513, #a0522d);
}

.stressed {
  background-image: linear-gradient(to bottom right, #ff4500, #ff8c00);
}

.hopeful {
  background-image: linear-gradient(to bottom right, #00ffff, #add8e6);
}

.lonely {
  background-image: linear-gradient(to bottom right, #000080, #4682b4);
}

.confused {
  background-image: linear-gradient(to bottom right, #daa520, #b8860b);
}

.overwhelmed {
  background-image: linear-gradient(to bottom right, #800080, #ba55d3);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-image: linear-gradient(to bottom right, #fff0e0, #ffffcc);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
  width: 400px;
  margin: 0 auto;
}

.popup-content h2 {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.popup-content p {
  margin-bottom: 10px;
}

.popup-content p:first-of-type {
  font-style: italic;
}

.popup-content p:nth-of-type(2) {
  text-align: right;
  font-size: 14px; /* Smaller font size for the reference */
}

.popup-content p:nth-of-type(3) {
  font-style: normal;
	font-weight: bold;
}

.popup-content button {
  background-color: #4682b4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
